.root {
  display: inline-flex;
  text-align: center;
  align-items: center;
  line-height: 1.75rem;
}

.root .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: currentColor;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 2px;

  &[data-dotSize="md"] {
    height: 10px;
    width: 10px;
    margin: 0 4px;
  }

  &[data-dotSize="lg"] {
    height: 14px;
    width: 14px;
    margin: 0 8px;
  }
}

.root .dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.root .dot:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
